<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Zoo</title>
		<link rel="stylesheet" href="../static/style.css" type="text/css" />
	</head>
	<body>
		<div id="page">
			<div id="header">
				<a href="index" id="logo"><img src="../static/images/logo-page.jpg" alt=""/></a>
				<ul id="links">
					<li class="first">
						<h2><a href="live">这里</a></h2>
						<span>快乐访问</span>
					</li>
					<li>
						<h2><a href="live">友爱</a></h2>
						<span>给动物们捐赠</span>
					</li>
					<li>
						<h2><a href="live">学习</a></h2>
						<span>去了解动物</span>
					</li>
				</ul>
				<a href="tickets" id="button">买 票 / 看 新 闻</a>
				<ul id="navigation">
					<li id="link1"><a href="index">主页</a></li>
					<li id="link2"><a href="zoo">动物园</a></li>
					<li id="link3"><a href="info">游客信息</a></li>
					<li id="link4"><a href="tickets">票务</a></li>
					<li id="link5"><a href="events">新闻</a></li>
					<li id="link6"><a href="gallery">相册</a></li>
					<li id="link7"><a href="contact">联系我们</a></li>
				</ul>
			</div>
			<div id="content">
				<div>
					<h1>博客</h1>
					<h4>This website template has been designed by <a href="http://sc.chinaz.com/">sc.chinaz.com</a> for you, for free. You can replace all this text with your own text.</h4>
					<span>by : Lorem M. January 2,2011</span>
					<p>This website template has been designed by <a href="http://sc.chinaz.com/">sc.chinaz.com</a> for you, for free. You can replace all this text with your own text.
					You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
					If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://sc.chinaz.com/forum/">Forum</a>.</p>
					
					<p>Vestibulum hendrerit est at purus rutrum vel tempus lacus vulputate. Morbi a enim urna, eu dictum quam. Cras nec mollis purus. Suspendisse eu lectus nec purus sodales gravida nec interdum dui. 
					Nulla ultrices iaculis mauris eu tempor. Aliquam luctus suscipit lectus sit amet mollis. Pellentesque dignissim ultricies magna, eu egestas lectus consequat a. Praesent at sem eu metus fermentum 
					lobortis. Nunc dapibus sem eget ligula condimentum volutpat. Cras convallis, urna sed varius blandit, mauris ante elementum nibh, a tincidunt libero quam eu nulla. Aliquam erat volutpat. 
					In at sem ac lectus pulvinar accumsan nec vel dolor. Aliquam vitae felis eget odio ornare ornare a quis diam. In dapibus massa vel leo malesuada aliquet. Donec laoreet risus ac quam elementum a 
					fringilla mi bibendum.</p>
					
					<p>Looking for more templates? Just browse through all our <a href="http://sc.chinaz.com/">sc.chinaz.com</a> and find what you’re looking for. But if you don’t find any website template you can use, you can try our 
					<a href="http://sc.chinaz.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you’re looking for something different, something special. And we love the challenge of 
					doing something different and something special.</p>
				</div>
				<div id="blog">
					<h4><a href="#">Lorem etiam vitae eros bibendum ultricies consectetu suspend</a></h4>
					<span>by : Lorem M. January 2,2011</span>
					<p>Cras tempus varius mauris, et dictum neque malesuada vitae. Cras sit amet orci at magna ornare porta nec et neque cras congue nibh.</p>
					
					<h4><a href="#">Etiam eu ante vitae eros bibendum ultricies donec hendrerit massa</a></h4>
					<span>by : Lorem M. January 2,2011</span>
					<p>Nulla sit amet arcu mi. Mauris sollicitudin nibh vestibulum justo ullamcorper eu suscipit enim cursus. Etiam eu ante vitae eros bibendum</p>
					
					<h4><a href="#">Aliquam erat volutpat. In at sem ac lectus pulvinar accumsan nec</a></h4>
					<span>by : Lorem M. January 2,2011</span>
					<p>Mauris sollicitudin nibh vestibulum justo ullamcorper eu suscipit enim cursus. Etiam eu ante vitae eros bibendum ultricie donec.</p>
				</div>
				<div class="featured">
					<h2>看看我们的动物</h2>
					<ul>
						<li class="first">
							<a href="gallery"><img src="../static/images/penguin.jpg" alt=""/></a>
							<a href="gallery">企鹅</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/elephant.jpg" alt=""/></a>
							<a href="gallery">大象</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/owl.jpg" alt=""/></a>
							<a href="gallery">猫头鹰</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/butterfly.jpg" alt=""/></a>
							<a href="gallery">蝴蝶</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/turtle.jpg" alt=""/></a>
							<a href="gallery">海龟</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/snake.jpg" alt=""/></a>
							<a href="gallery">蛇</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/gorilla.jpg" alt=""/></a>
							<a href="gallery">大猩猩</a>
						</li>
						<li class="last">
							<a href="gallery"><img src="../static/images/button-view-gallery2.jpg" alt=""/></a>
							<a href="gallery">相册</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer">
				<div>
					<a href="index" class="logo"><img src="../static/images/animal-kingdom.jpg" alt=""/></a>
					<div>
						<p>Ellentesque habitant morbi tristique senectus et 0000</p>
						<span>123 123-12 345 / 1234 1234 123</span>
						<span>email@cuteanimalkingdomzoo.com</span>
					</div>
					<ul class="navigation">
						<li><a href="index">主页</a></li>
						<li><a href="tickets">票务</a></li>
						<li><a href="zoo">动物园</a></li>
						<li><a href="events">新闻</a></li>
						<li><a href="blog">博客</a></li>
						<li><a href="gallery">相册</a></li>
					</ul>
					<ul>
						<li><a href="live">这里 : 快乐访问</a></li>
						<li><a href="live">友爱 : 给动物们捐赠</a></li>
						<li><a href="live">学习 : 去了解动物</a></li>
					</ul>
					<p>Copyright &#169; 2018. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div></body>
</html>  