<!DOCTYPE html>
<!-- Template by sc.chinaz.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Zoo</title>
		<link rel="stylesheet" href="../static/style.css" type="text/css" />
	</head>
	<body>
		<div id="page">
			<div id="header">
				<a href="index" id="logo"><img src="../static/images/logo-page.jpg" alt=""/></a>
				<ul id="links">
					<li class="first">
						<h2><a href="live">这里</a></h2>
						<span>快乐访问</span>
					</li>
					<li>
						<h2><a href="live">友爱</a></h2>
						<span>给动物们捐赠</span>
					</li>
					<li>
						<h2><a href="live">学习</a></h2>
						<span>去了解动物</span>
					</li>
				</ul>
				<a href="tickets" id="button">买 票 / 看 新 闻</a>
				<ul id="navigation">
					<li id="link1"><a href="index">主页</a></li>
					<li id="link2"><a href="zoo">动物园</a></li>
					<li id="link3"><a href="info">游客信息</a></li>
					<li id="link4"><a href="tickets">票务</a></li>
					<li id="link5"><a href="events">新闻</a></li>
					<li id="link6"><a href="gallery">相册</a></li>
					<li id="link7" class="selected"><a href="contact">联系我们</a></li>
				</ul>
			</div>
			<div id="content">
				<div id="contact">
					<h1>联系信息</h1>
					<h4>地点 :</h4>
					<p>This website template has been designed by <a href="http://sc.chinaz.com/">sc.chinaz.com</a> for you, for free. You can replace all this text with your own text.</p>
					
					<h4>票务处 :</h4>
					<p>123 123-12 345 or 1234 1234 123</p>
					
					<h4>办公室电话 :</h4>
					<p>123 123-12 345 or 1234 1234 123</p>
					
					<h4>客户服务 :</h4>
					<p>123 123-12 345 or 1234 1234 123</p>
					
					<h4>Email :</h4>
					<p>email@cuteanimalkingdomzoo.com</p>
					
					<a href="http://sc.chinaz.com/moban" id="facebook">Facebook</a>
					<a href="http://sc.chinaz.com/moban" id="twitter">Twitter</a>
					
					<form action="">
						<h3>Subscribe to our</h3>
						<h2>NEWSLETTER</h2>
						<input type="text" value="your email here..." onblur="this.value=!this.value?'your email here...':this.value;" onfocus="this.select()" onclick="this.value='';" />
					</form>
				</div>
				<div class="featured">
					<h2>看看我们的动物</h2>
					<ul>
						<li class="first">
							<a href="gallery"><img src="../static/images/penguin.jpg" alt=""/></a>
							<a href="gallery">企鹅</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/elephant.jpg" alt=""/></a>
							<a href="gallery">大象</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/owl.jpg" alt=""/></a>
							<a href="gallery">猫头鹰</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/butterfly.jpg" alt=""/></a>
							<a href="gallery">蝴蝶</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/turtle.jpg" alt=""/></a>
							<a href="gallery">海龟</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/snake.jpg" alt=""/></a>
							<a href="gallery">蛇</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/gorilla.jpg" alt=""/></a>
							<a href="gallery">大猩猩</a>
						</li>
						<li class="last">
							<a href="gallery.html"><img src="../static/images/button-view-gallery2.jpg" alt=""/></a>
							<a href="gallery.html">相册</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer">
				<div>
					<a href="index" class="logo"><img src="../static/images/animal-kingdom.jpg" alt=""/></a>
					<div>
						<p>Ellentesque habitant morbi tristique senectus et 0000</p>
						<span>123 123-12 345 / 1234 1234 123</span>
						<span>email@cuteanimalkingdomzoo.com</span>
					</div>
					<ul class="navigation">
						<li><a href="index">主页</a></li>
						<li><a href="tickets">票务</a></li>
						<li><a href="zoo">动物园</a></li>
						<li><a href="events">新闻</a></li>
						<li><a href="blog">博客</a></li>
						<li><a href="gallery">相册</a></li>
					</ul>
					<ul>
						<li><a href="live">这里 : 快乐访问</a></li>
						<li><a href="live">友爱 : 给动物们捐赠</a></li>
						<li><a href="live">学习 : 去了解动物</a></li>
					</ul>
					<p>Copyright &#169; 2018. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div></body>
</html>  