<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Zoo</title>
		<link rel="stylesheet" href="../static/style.css" type="text/css" />
	</head>
	<body>
		<div id="page">
			<div id="header">
				<a href="index" id="logo"><img src="../static/images/logo-page.jpg" alt=""/></a>
				<ul id="links">
					<li class="first">
						<h2><a href="live">这里</a></h2>
						<span>快乐访问</span>
					</li>
					<li>
						<h2><a href="live">友爱</a></h2>
						<span>给动物们捐赠</span>
					</li>
					<li>
						<h2><a href="live">学习</a></h2>
						<span>去了解动物</span>
					</li>
				</ul>
				<a href="tickets" id="button">买 票 / 看 新 闻</a>
				<ul id="navigation">
					<li id="link1"><a href="index">主页</a></li>
					<li id="link2"><a href="zoo">动物园</a></li>
					<li id="link3"><a href="info">游客信息</a></li>
					<li id="link4"><a href="tickets">票务</a></li>
					<li id="link5" class="selected"><a href="events">新闻</a></li>
					<li id="link6"><a href="gallery">相册</a></li>
					<li id="link7"><a href="contact">联系我们</a></li>
				</ul>
			</div>
			<div id="content">
				<div id="events">
					<h1>新闻</h1>
					<ul>
						<li>
							<div><a href="#"><img src="../static/images/event-lion.jpg" alt=""/></a></div>
							<h4><a href="http://sc.chinaz.com/">This website template has been designed by freewebsite templates.com for you, for free.</a></h4>
							<p>Date : Jan 1 - 30 2011</p>
							<p>This website template has been designed by <a href="http://sc.chinaz.com/">sc.chinaz.com</a> for you, for free. You can replace all this text with your own text.
							You can remove any link to our website from this website template, you're free to use this website template without linking back to us</p>
						</li>
						<li>
							<div><a href="#"><img src="../static/images/event-dolphin.jpg" alt=""/></a></div>
							<h4><a href="#">Suspendisse nunc nibh, commodo Nulla ac accumsan ante</a></h4>
							<p>Date : Feb 1 - 30 2011</p>
							<p>Looking for more templates? Just browse through all our <a href="http://sc.chinaz.com/">sc.chinaz.com</a> and find what you’re looking for. But if you don’t find any website template you can use, you can try our 
							<a href="http://sc.chinaz.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you’re looking for something different, something special. And we love the challenge of 
							doing something different and something special.</p>
						</li>
						<li>
							<div><a href="#"><img src="../static/images/event-gorilla.jpg" alt=""/></a></div>
							<h4><a href="#">Cras tempus varius mauris, et dictum neque malesuada vitae. Cras sit amet orci at magna ornare porta nec et neque. Cras congue nibh eu felis dictum non aliquam elit scelerisque</a></h4>
							<p>Date : Feb 1 - 30 2011</p>
							<p>If you’re experiencing issues and concerns about this website template, join the discussion on our <a href="http://sc.chinaz.com/forum/"> Forum</a> and meet other people in the community who share the same interests with you.</p>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer">
				<div>
					<a href="index" class="logo"><img src="../static/images/animal-kingdom.jpg" alt=""/></a>
					<div>
						<p>Ellentesque habitant morbi tristique senectus et 0000</p>
						<span>123 123-12 345 / 1234 1234 123</span>
						<span>email@cuteanimalkingdomzoo.com</span>
					</div>
					<ul class="navigation">
						<li><a href="index">主页</a></li>
						<li><a href="tickets">票务</a></li>
						<li><a href="zoo">动物园</a></li>
						<li><a href="events">新闻</a></li>
						<li><a href="blog">博客</a></li>
						<li><a href="gallery">相册</a></li>
					</ul>
					<ul>
						<li><a href="live">这里 : 快乐访问</a></li>
						<li><a href="live">友爱 : 给动物们捐赠</a></li>
						<li><a href="live">学习 : 去了解动物</a></li>
					</ul>
					<p>Copyright &#169; 2018. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div></body>
</html>  