<!DOCTYPE html>
<!-- Template by sc.chinaz.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Zoo</title>
		<link rel="stylesheet" href="../static/style.css" type="text/css" />
	</head>
	<body>
		<div id="page">
			<div id="header">
				<a href="index" id="logo"><img src="../static/images/logo.jpg" alt=""/></a>
				<ul>
					<li class="first">
						<h2><a href="live">这里</a></h2>
						<span>快乐访问</span>
					</li>
					<li>
						<h2><a href="live">友爱</a></h2>
						<span>给动物们捐赠</span>
					</li>
					<li>
						<h2><a href="live">学习</a></h2>
						<span>去了解动物</span>
					</li>
				</ul>
				<a href="tickets">买 票 / 看 新 闻</a>
				<ul id="navigation">
					<li id="link1" class="selected">主页</li>
					<li id="link2"><a href="zoo">动物园</a></li>
					<li id="link3"><a href="info">游客信息</a></li>
					<li id="link4"><a href="tickets">票务</a></li>
					<li id="link5"><a href="events">新闻</a></li>
					<li id="link6"><a href="gallery">相册</a></li>
					<li id="link7"><a href="contact">联系我们</a></li>
				</ul>
				<img src="../static/images/lion-family.jpg" alt="figure"/>
				<div>
					<h1>Special Events:</h1>
					<p>萌萌动物网正式上线了！！！</p>
				</div>
			</div>
			<div id="content">
				<div id="featured">
					<h2>看看我们的动物</h2>
					<ul>
						<li class="first">
							<a href="gallery"><img src="../static/images/penguin.jpg" alt=""/></a>
							<a href="gallery">企鹅</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/elephant.jpg" alt=""/></a>
							<a href="gallery">大象</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/owl.jpg" alt=""/></a>
							<a href="gallery">猫头鹰</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/butterfly.jpg" alt=""/></a>
							<a href="gallery">蝴蝶</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/turtle.jpg" alt=""/></a>
							<a href="gallery">海龟</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/snake.jpg" alt=""/></a>
							<a href="gallery">蛇</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/gorilla.jpg" alt=""/></a>
							<a href="gallery">大猩猩</a>
						</li>
						<li class="last">
							<a href="gallery"><img src="../static/images/button-view-gallery.jpg" alt=""/></a>
							<a href="gallery">相册</a>
						</li>
					</ul>
				</div>
				<div class="section1">
					<h2>公告</h2>
					<ul id="article">
						<li class="first">
							<a href="#"><span>Jul 17</span></a>
							<p>萌萌动物网于7月17日正式上线</p>
						</li>
						<li>
							<a href="#"><span>Aug 23</span></a>
							<p>您可以在任意时段访问我们的网站，有问题请随时咨询我们，我们欢迎您的到来。</p>
						</li>
						<li>
							<a href="#"><span>Oct 01</span></a>
							<p>又是一年一度的国庆节了，今年国庆和中秋在一起放8天假哦，（*^__^*）嘻嘻……</p>
						</li>
					</ul>
				</div>
				<div class="section2">
					<h2>博客</h2>
					<p>萌萌动物网上线了，欢迎来访问</p>
					<a href="#"><img src="..\static\images\dolphins.jpg" alt=""/></a>
					<ul>
						<li>
							<p>聪明的海豚。</p>
						</li>
						<li>
							<p>每天精彩的表演。</p>
						</li>
						<li>
							<p>如有问题请咨询。</p>
						</li>
						<li>
							<p>我们真诚为服务。</p>
						</li>
						<li>
							<p>请多提意见哦。</p>
						</li>
					</ul>
					<div id="section1">
						<ul>
							<li>
								<a href="#"><img src="..\static\images/gorilla-2.jpg" alt=""/></a>
								<h4><a href="#">憨厚的大猩猩</a></h4>
								<p>虽然长得不可爱，但是很听话哦。</p>
							</li>
							<li>
								<a href="#"><img src="..\static\images/snake-2.jpg" alt=""/></a>
								<h4><a href="#">色彩斑斓的蛇</a></h4>
								<p>这是一条来自深山里的蛇。</p>
							</li>
						</ul>
					</div>
					<div id="section2">
						<ul>
							<li>
								<a href="#"><img src="..\static\images/butterfly-2.jpg" alt=""/></a>
								<h4><a href="#">漂亮的小精灵</a></h4>
								<p>这样漂亮的蝴蝶是不是很可爱呢。</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="section3">
					<h2>Connect</h2>
					<a href="#" id="email">Email Us</a>
					<a href="http://sc.chinaz.com/moban" id="facebook">Facebook</a>
					<a href="http://sc.chinaz.com/moban" id="twitter">Twitter</a>
					<form action="">
						<h3>订阅我们</h3>
						<h2>NEWSLETTER</h2>
						<input type="text" value="your email here..." onblur="this.value=!this.value?'your email here...':this.value;" onfocus="this.select()" onclick="this.value='';" />
					</form>
					<img src="..\static\images/penguin2.jpg" alt=""/>
				</div>
			</div>
			<div id="footer">
				<div>
					<a href="index" class="logo"><img src="..\static\images/animal-kingdom.jpg" alt=""/></a>
					<div>
						<p>Ellentesque habitant morbi tristique senectus et 0000</p>
						<span>123 123-12 345 / 1234 1234 123</span>
						<span>email@cuteanimalkingdomzoo.com</span>
					</div>
					<ul class="navigation">
						<li><a href="index">主页</a></li>
						<li><a href="tickets">票务</a></li>
						<li><a href="zoo">动物园</a></li>
						<li><a href="events">新闻</a></li>
						<li><a href="blog">博客</a></li>
						<li><a href="gallery">相册</a></li>
					</ul>
					<ul>
						<li><a href="live">这里 : 快乐访问</a></li>
						<li><a href="live">友爱 : 给动物们捐赠</a></li>
						<li><a href="live">学习 : 去了解动物</a></li>
					</ul>
					<p>Copyright &#169; 2018. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div></body>
</html>  