<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Zoo Template</title>
		<link rel="stylesheet" href="../static/style.css" type="text/css" />
	</head>
	<body>
		<div id="page">
			<div id="header">
				<a href="index" id="logo"><img src="../static/images/logo-page.jpg" alt=""/></a>
				<ul id="links">
					<li class="first">
						<h2><a href="live">这里</a></h2>
						<span>快乐访问</span>
					</li>
					<li>
						<h2><a href="live">友爱</a></h2>
						<span>给动物们捐赠</span>
					</li>
					<li>
						<h2><a href="live">学习</a></h2>
						<span>去了解动物</span>
					</li>
				</ul>
				<a href="tickets" id="button">买 票 / 看 新 闻</a>
				<ul id="navigation">
					<li id="link1"><a href="index">主页</a></li>
					<li id="link2" class="selected"><a href="zoo">动物园</a></li>
					<li id="link3"><a href="info">游客信息</a></li>
					<li id="link4"><a href="tickets">票务</a></li>
					<li id="link5"><a href="events">新闻</a></li>
					<li id="link6"><a href="gallery">相册</a></li>
					<li id="link7"><a href="contact">联系我们</a></li>
				</ul>
			</div>
			<div id="content">
				<div id="zoo">
					<h1>动物园</h1>
					<h3>We Have Free Templates for Everyone</h3>
					<p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! 
					You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the 
					<a href="http://sc.chinaz.com/about/termsofuse/">Terms of Use</a>. You can even remove all our links if you want to.</p>
					
					<h3>We Have More Templates for You</h3>
					<p>Looking for more templates? Just browse through all our <a href="http://sc.chinaz.com/">sc.chinaz.com</a> and find what you’re looking for. 
					But if you don’t find any website template you can use, you can try our <a href="http://sc.chinaz.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you’re looking for something different, 
					something special. And we love the challenge of doing something different and something special.</p>
					
					<h3>Be Part of Our Community</h3>
					<p>If you’re experiencing issues and concerns about this website template, join the discussion on our <a href="http://sc.chinaz.com/forum/"> Forum</a> and meet other people in the community who share the same interests with you.</p>
					
					<h3>Template details</h3>
					
					<h4>Version 4</h4>
					<h4>Website Template details, discussion and updates for this <a href="http://sc.chinaz.com/forum/f18/zoo-website-template-18526">Zoo Template</a>. Website Template design by <a href="http://sc.chinaz.com/">sc.chinaz.com</a>.</h4>
					<h4>Please feel free to remove some or all the text and links of this page and replace it with your own About content.</h4>
				</div>
				<div class="featured">
					<h2>看看我们的动物</h2>
					<ul>
						<li class="first">
							<a href="gallery"><img src="../static/images/penguin.jpg" alt=""/></a>
							<a href="gallery">企鹅</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/elephant.jpg" alt=""/></a>
							<a href="gallery">大象</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/owl.jpg" alt=""/></a>
							<a href="gallery">猫头鹰</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/butterfly.jpg" alt=""/></a>
							<a href="gallery">蝴蝶</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/turtle.jpg" alt=""/></a>
							<a href="gallery">海龟</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/snake.jpg" alt=""/></a>
							<a href="gallery">蛇</a>
						</li>
						<li>
							<a href="gallery"><img src="../static/images/gorilla.jpg" alt=""/></a>
							<a href="gallery">大猩猩</a>
						</li>
						<li class="last">
							<a href="gallery"><img src="../static/images/button-view-gallery2.jpg" alt=""/></a>
							<a href="gallery">相册</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer">
				<div>
					<a href="index" class="logo"><img src="../static/images/animal-kingdom.jpg" alt=""/></a>
					<div>
						<p>Ellentesque habitant morbi tristique senectus et 0000</p>
						<span>123 123-12 345 / 1234 1234 123</span>
						<span>email@cuteanimalkingdomzoo.com</span>
					</div>
					<ul class="navigation">
						<li><a href="index">主页</a></li>
						<li><a href="tickets">票务</a></li>
						<li><a href="zoo">动物园</a></li>
						<li><a href="events">新闻</a></li>
						<li><a href="blog">博客</a></li>
						<li><a href="gallery">相册</a></li>
					</ul>
					<ul>
						<li><a href="live">这里 : 快乐访问</a></li>
						<li><a href="live">友爱 : 给动物们捐赠</a></li>
						<li><a href="live">学习 : 去了解动物</a></li>
					</ul>
					<p>Copyright &#169; 2018. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div></body>
</html>  